@media(max-width: 998px){
    .center-nav{
        display : none;
    }
    .landing{
        height: 60vh;
        background-size: cover;
    }
    .hero{
        font-size: 20px;
    }
    .title-section{
        margin: 10%;
        margin-bottom: 5%;
    }
    .quote{
        margin-top: 20%;
    }
}