@media(max-width: 998px){
    .center-nav{
        display : none;
    }
    .landing{
        height: 60vh;
        background-size: cover;
    }
    .hero{
        font-size: 20px;
    }
    .title-section{
        margin: 10%;
        margin-bottom: 5%;
    }
    .quote{
        margin-top: 20%;
    }
    .section-3{
        height: 250px;
    }
    .photomockup img{
        width: 100%;
        margin-top:20px;
        height: 280px;
    }
    footer{
        text-align: center;
    }
    footer h6:after {
        top : -10px;
        width: 100%;

    }
    .logo-part{
        border: 0px;
    }
    .heading  img{
        height: 150px;
    }
}