body{
  font-family: Montserrat;
}


.landing{
  height: 80vh;
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../images/bg/bglanding.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


/* NAVBAR CSS*/
.button-top{
  margin-top:-20px;
}
.font-pacifico{
  font-family: Pacifico;
}
.center-nav{
  font-size: 1.3em;
}
.loginbtn{
  color:#FFB320;
  display: block;
  border: 1px solid #FFB320;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.loginbtn:hover{
  color : white;
  text-decoration: none;
  background-color: #FFB320;
  transition: 0.3s ease-out;
}

/*Landing CSS*/

.hero{
  font-size: 2.8rem;
  position: relative;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

/*SECTION BASED GROUP CSS*/
.title-section{
  font-size: 1.8em;
  margin: 2.6%;
  letter-spacing: -0.09em;
}

/*Specific Section CSS */
.section-2{
  height: 420px;
}
.card-horizontal {
  display: flex;
}
.card-footer{
  padding: 0px;
}
.card{
  margin-left: 20px;
  margin-right: 20px;
}

.section-3{
  padding-top: 1%;
  height: 350px;
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(0, 0, 0, 0.70)
    ),
    /* bottom, image */
    url("../images/quote1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
}
.img-container{
  margin: 5%;
}

/*Section-4 Quote */
.section-5{
  padding-top: 1%;
  height: 250px;
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(0, 0, 0, 0.70)
    ),
    /* bottom, image */
    url("../images/quote2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
}

.section-7{
  padding-top: 1%;
  height: 250px;
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(0, 0, 0, 0.70)
    ),
    /* bottom, image */
    url("../images/quote3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
}

.section-8{
  height: 350px;
  padding-top: 3.5%;
}

.section-hero{
  font-size: 32px;
}

.bg-grey {
  background: #292929;
}
.logo-footer {
  margin-bottom: 40px;
}
footer {
      color: grey;
}
footer p, a {
font-size: 12px;
}
footer h6 {
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
.btn-footer {
           color: grey;
        
          text-decoration: none;
          border: 1px solid;
          border-radius: 43px;
          font-size: 13px;
          padding: 7px 30px;
          line-height: 47px;
}
.btn-footer:hover {
          
          text-decoration: none;
         
}
.form-footer input[type="text"] {
  border: none;
border-radius: 16px 0 0 16px;
outline: none;
font-size: 14px;
padding-inline-start: 5px;
}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
  margin-left: -5px;
color: #fff;
outline: none;
font-size: 12spx;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}

.form-footer input[type="button"]:hover{
  color: white;
  background-color: #FFB320;
  transition: 0.3s;
}
.social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
footer ul li a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}
.photomockup img{
  height: 350px;
}
.fa:hover{
  color:white;
  background-color: #FFB320;
  transition: 0.3s;
}
