body{
  font-family: Montserrat;
}


.landing{
  height: 80vh;
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../images/bg/bglanding.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


/* NAVBAR CSS*/
.button-top{
  margin-top:-20px;
}
.font-pacifico{
  font-family: Pacifico;
}
.center-nav{
  font-size: 1.3em;
}
.loginbtn{
  color:#FFB320;
  display: block;
  border: 1px solid #FFB320;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.loginbtn:hover{
  color : white;
  text-decoration: none;
  background-color: #FFB320;
  transition: 0.3s ease-out;
}

/*Landing CSS*/

.hero{
  font-size: 2.8rem;
  position: relative;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

/*SECTION BASED GROUP CSS*/
.title-section{
  font-size: 1.8em;
  margin: 2.6%;
  letter-spacing: -0.09em;
}

/*Specific Section CSS */
.section-2{
  height: 390px;
}
.card-horizontal {
  display: flex;
}
.card-footer{
  padding: 0px;
}
.card{
  margin-left: 20px;
  margin-right: 20px;
}

.section-3{
  padding-top: 1%;
  height: 250px;
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(0, 0, 0, 0.70)
    ),
    /* bottom, image */
    url("../images/quote1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
}
.img-container{
  margin: 5%;
}

/*Section-4 Quote */
.section-5{
  padding-top: 1%;
  height: 250px;
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(0, 0, 0, 0.70)
    ),
    /* bottom, image */
    url("../images/quote2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
}